Repository ASVVlasov/ulbiTV-react: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, stylelint

.lintstagedrc:

{
  "*.{ts,tsx}": ["prettier --write", "eslint"],
  "*.scss": "stylelint"
}

token, user, auth
  .eslintrc.js
  src/entities/User/ui/User.test.tsx
Due: prettier --write, eslint

token, user, auth
  src/app/providers/StoreProvider/config/reducerManager.ts
  src/app/providers/StoreProvider/config/storeConfig.ts
  src/app/providers/StoreProvider/config/storeSchema.ts
  src/app/providers/StoreProvider/index.ts
  src/entities/User/model/slice/userSlice.ts
  src/entities/User/model/types/user.ts
  src/features/AuthByUsername/model/selectors/selectors.ts
  src/features/AuthByUsername/model/services/loginByUsername/loginByUsername.ts
  src/features/AuthByUsername/model/slice/loginSlice.ts
  src/features/AuthByUsername/ui/LoginForm/LoginForm.async.tsx
  src/features/AuthByUsername/ui/LoginForm/LoginForm.stories.tsx
  src/features/AuthByUsername/ui/LoginForm/LoginForm.tsx
  src/features/AuthByUsername/ui/LoginModal/LoginModal.tsx
  src/shared/hooks/index.ts
  src/shared/hooks/useAsyncStore.ts
  src/shared/lib/tests/TestStoreProvider.tsx
  src/shared/ui/Modal/Modal.tsx
Due: prettier --write, eslint

token, user, auth, profile page
  src/app/App.tsx
  src/app/providers/StoreProvider/config/storeConfig.ts
  src/app/providers/StoreProvider/config/storeSchema.ts
  src/entities/Auth/index.ts
  src/entities/Auth/model/selectors/AuthSelector.ts
  src/entities/Auth/model/slice/AuthSlice.ts
  src/entities/Auth/model/types/Auth.ts
  src/entities/Token/index.ts
  src/entities/Token/model/types/token.ts
  src/entities/User/index.ts
  src/entities/User/model/services/currentUser.ts
  src/entities/User/model/slice/userSlice.ts
  src/features/AuthByUsername/index.ts
  src/features/AuthByUsername/model/selectors/selectors.ts
  src/features/AuthByUsername/model/services/authByUsername/authByUsername.ts
  src/features/AuthByUsername/model/slice/AuthByUsernameSlice.ts
  src/features/AuthByUsername/model/slice/loginSlice.ts
  src/features/AuthByUsername/model/types/authByUsernameSchema.ts
  src/features/AuthByUsername/model/types/loginSchema.ts
  src/features/AuthByUsername/ui/LoginForm/LoginForm.async.tsx
  src/features/AuthByUsername/ui/LoginForm/LoginForm.tsx
  src/features/AuthByUsername/ui/LoginModal/LoginModal.tsx
  src/pages/MainPage/ui/MainPage.async.tsx
  src/pages/NotFoundPage/index.ts
  src/pages/ProfilePage/index.ts
  src/pages/ProfilePage/ui/ProfilePage.async.tsx
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/shared/assets/icons/about.svg
  src/shared/assets/icons/home.svg
  src/shared/assets/icons/profile.svg
  src/shared/config/routeConfig/routeConfig.tsx
  src/shared/hooks/useAsyncStore.ts
  src/widgets/NavBar/ui/NavBar.module.scss
  src/widgets/NavBar/ui/NavBar.tsx
  src/widgets/SideBar/model/items.ts
  src/widgets/SideBar/ui/SideBar/SideBar.module.scss
  src/widgets/SideBar/ui/SideBar/SideBar.tsx
  src/widgets/SideBar/ui/SideBarItem/SideBarItem.module.scss
  src/widgets/SideBar/ui/SideBarItem/SideBarItem.tsx
Due: prettier --write, eslint, stylelint

profile page and entity
  src/app/providers/StoreProvider/config/storeConfig.ts
  src/app/providers/StoreProvider/config/storeSchema.ts
  src/entities/Counter/index.ts
  src/entities/Counter/model/selectors/counter.test.ts
  src/entities/Counter/model/selectors/counter.ts
  src/entities/Counter/model/slice/counterSlice.test.ts
  src/entities/Counter/model/slice/counterSlice.ts
  src/entities/Counter/model/types/counterSchema.ts
  src/entities/Counter/ui/Counter.test.tsx
  src/entities/Counter/ui/Counter.tsx
  src/entities/Profile/index.ts
  src/entities/Profile/model/selectors/ProfileSelector.ts
  src/entities/Profile/model/slice/ProfileSlice.ts
  src/entities/Profile/model/types/Profile.ts
  src/pages/AboutPage/ui/AboutPage.tsx
  src/pages/ProfilePage/ui/ProfilePage.tsx
Due: prettier --write, eslint

profile page and entity
  public/locales/en/profile.json
  public/locales/ru/profile.json
  src/app/providers/StoreProvider/config/reducerManager.ts
  src/app/providers/StoreProvider/config/storeConfig.ts
  src/app/providers/StoreProvider/config/storeSchema.ts
  src/app/providers/StoreProvider/index.ts
  src/entities/Profile/index.ts
  src/entities/Profile/model/selectors/ProfileSelector.ts
  src/entities/Profile/model/services/fetchProfile.ts
  src/entities/Profile/model/slice/ProfileSlice.ts
  src/entities/Profile/ui/ProfileCard/ProfileCard.module.scss
  src/entities/Profile/ui/ProfileCard/ProfileCard.tsx
  src/features/AuthByUsername/model/services/authByUsername/authByUsername.ts
  src/pages/ProfilePage/ui/ProfilePage.tsx
  src/shared/api/api.ts
  tsconfig.json
Due: prettier --write, eslint, stylelint

edit profile, avatar
  src/shared/lib/classNames/classNames.ts
Due: prettier --write, eslint

screenshots failure
  .loki/difference/chrome_iphone7_pages_AboutPage_Primary.png
  .loki/difference/chrome_iphone7_shared_Modal_Primary.png
  .loki/difference/chrome_iphone7_widgets_SideBar_Primary.png
  .loki/difference/chrome_laptop_pages_AboutPage_Primary.png
  .loki/difference/chrome_laptop_shared_Modal_Primary.png
  .loki/difference/chrome_laptop_widgets_SideBar_Primary.png
  generated.txt
Due: none
